<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>


<body>

</section>

   <section class="inner-wrapper">
  

    
    <aside id="tablet2">
	   <div id="login">
  <form action="" method="post">

  <input type="text" name="username"  placeholder="username">
  <input type="password" name="password" placeholder="password">

  <input type="submit" value="Log in">

  </form>
  </div>
</aside>



</section>

</body>
</html>




</body>

</html>