<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/basicstyles.css">
     
    
    

</head>

<body>

  <section class="intro">
        <div class="inner">
           <div class="content">
         <h1> Travel Destiny</h1>     
           <nav>
                 <a href="#" id="menu-icon"></a>
                  <ul>
                  <li>  <a href="/"  class="login">Home Page</a></li>
                 
                </ul>
             </nav> 
          </div>        
        </div>
     
     <!--End Of Header -->

    

        <h1 class="loginconf"> Welcome to Travel Destiny </h1>   
   
      <div id="login">  

         <h2><i class="fa fa-lock" style="margin-right: 10px;" aria-hidden="true"></i>Sign In</h2>
        <form id="form-login" action="" method="post">
          
            <fieldset>
            <p>
                   <!-- <label for="username"> UserName :</label>-->
                  <input type="text" name="username" id="username" maxlength="50" placeholder="username" value="demo"/>
               </p>

                <p>
                   <!-- <label for="password"> Password:</label> -->
                   <input type="password" name="password" id="password" maxlength="50" placeholder="password" value="demo"/>
               </p>



                <!-- <li>
                    <label for="chkbox">Home Business Owner?</label>
                    <input type="checkbox" name="chkbox" id="cbox1" value="first_checkbox">
                </li> -->

                <p>
                    <button class="login1btn" >Login</button>
                    <button class="cancel1btn" >Cancel</button>
                </p>

           </fieldset>
        </form>
       </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
<script type="text/javascript">
    $(document).ready(function () {
      
          $(".cancel1btn").click(function () {
               event.preventDefault();
                history.back(1);
            });
              
          });
  </script>
</body>
</html>