<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width , initial-scale=1">
	<title>TRAVEL GUIDE APP</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/png" href="images/logo1.png">
	

</head>
<body>
<header>
		<div id="header-inner">
			<a href="index.html" id="logo"></a>
			<nav>
			  <ul>
				 <li> <a style="font-size:20px;" id="logout" class="logout" href="/logout"> Logout </a>
                        <br>
                        <p style="font-size:14px;">
                            <%= user.username %>
                        </p>
                    </li>
				</ul>
			</nav>		
		</div>
	</header>
    <div  class="searchbar">
    	<form class="form-search">
                            <label for="inputsearch"> </label>
                            <input class="inputsearch" id="inputsearch" type="text" placeholder=" Enter Place Name">
                           
                           <div class="options">
                           <select class="selectoptions">
                              <option value="attraction">POI</option>
                              <option value="restuarant">Restuarant</option>
                              <option value="bar">Bar</option>
                              <option value="accomadation">Accomadation</option>
                              <option value="kidsactivities">Kids Activities</option>
                            </select>
                            </div>
                            <button class="searchbutton" id="search" name="search" value="search">Search</button>
        </form>                      

         <div class="displayresults">
         <ul>
            

         </ul>

         </div>


        
        	</ul>	

        	</div>
     



    </div>

 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script type="text/javascript">
 	  $(document).ready(function () {
 	  	 $('span.stars').stars();
       console.log("Am able to see this message");



        $(".form-search").submit(function(event){
            event.preventDefault();
            var selectOptionVal='';
            console.log("Am able to login to form search");
            var searchVal = $('#inputsearch').val();
            console.log("search Val" + searchVal);
            console.log("Select option inside console");
            selectOptionVal = $('.selectoptions option:selected').val();
            var querykeyword = selectOptionVal + " in " + searchVal;
            console.log(querykeyword);
            if(searchVal.length > 0 && searchVal !== ''){
                 $.ajax({
                     url : '/mywelcomepage',          
                     cache:false,
                     type:"POST",
                     data:{
                      query : querykeyword,
                        },
                     dataType:"json",
                     success: function (response) {
                       console.log(response.results);
                        if (response.redirectTo && response.msg == 'Just go there please') {
                          console.log(response.results);
                           var results =  response.results;
                           var placeOpen='';   
                               $(".displayresults").html('');
                                $.each(results, function (i, items) {

                                  if(items.opening_hours){
                                    if(items.opening_hours.open_now && items.opening_hours.open_now === 'true'){
                                        placeOpen = 'OPEN';
                                    }else {
                                        placeOpen = 'CLOSED';
                                    }
                                  }

                                    //console.log(items);
                                 
                                    $("<div />", {"class": "displaywishresults"})
                                    .append(items.name)
                                    .append('<br />')
                                    .append(items.formatted_address)
                                    .append('<br />')
                                    .append(items.rating)
                                    .append('<sup><span class="stars">'+ items.rating+ '</span><sup>')
                                    .append('<br />')
                                    .append(placeOpen)
                                    .appendTo(".displayresults");
                                });
                              //$(".displayresults").append(trHTML);

                        }

                        console.log("success");
                      },
                      fail: function (jqXHR, error, errorThrown) {
                                      console.log(jqXHR);
                                      console.log(error);
                                      console.log(errorThrown);
                    }
                });      

            }

            else {
              $(".displayresults").empty();
              $(".displayresults").append('<span id="error_add_here">Please enter a location name to search</span>');
            }
         });
      
	  });

 	   $.fn.stars = function() {
    	return $(this).each(function() {
	        // Get the value
	        var val = parseFloat($(this).html());
	        // Make sure that the value is in 0 - 5 range, multiply to get width
	        val = Math.round(val * 4) / 4;
	        var size = Math.max(0, (Math.min(5, val))) * 16;
	        // Create stars holder
	        var $span = $('<span />').width(size);
	        // Replace the numerical value with stars
	        $(this).html($span);
   	 });
	}

 </script>

</body>
</html>