<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title>TRAVEL GUIDE APP</title>
    <link rel="stylesheet" type="text/css" href="/css/welcomepage.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="images/logo1.png">


</head>

<body>
    <section class="intro">
        <div class="inner">
           <div class="content">
            <h1> Travel Destiny</h1>      
            <nav>
                <ul>
                    <li> <a style="font-size:20px;" id="logout" class="logout" href="/logout"> Logout </a>
                        <br>
                        <p style="font-size:14px;">
                            <%= user.username %>
                        </p>
                    </li>
                </ul>
            </nav>
            </div>        
        </div>
  
        <form class="form-search">
            <label for="inputsearch"> </label>
            <input class="inputsearch" id="inputsearch" type="text" placeholder=" Enter Place Name">

                <select class="selectoptions">
                    <option value="attraction">POI</option>
                    <option value="restuarant">Restuarant</option>
                    <option value="bar">Bar</option>
                    <option value="accomadation">Accomadation</option>
                    <option value="kidsactivities">Kids Activities</option>
                </select>
          
           
            <button class="searchbutton" type="submit" id="search" name="search" value="search">Search</button>
        </form>
  


        <div class="displayresults">
         

        </div>
        <section class="dashboard" id="dashboard">
            <p class="dashboardHeading">Favorites</p>
            <ul class="favoritesContainer" id="favoritesContainer">

            </ul>

        </section>


   

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">

       function populateFavoritesContainer() {
       // console.log("Am being called in the populateFavoriteContainer")
             $.ajax({
                type: "GET",
                url: "/populate-favorites/",
                dataType: 'json',
                success: function(response){
                    console.log(response);
                     var buildTheHtmlOutput = "";

                     $.each(response, function(responseKey, responseValue) {

                        // console.log("Response Value" , responseValue.name);

                           buildTheHtmlOutput += "<li class='favorites'>";
                           buildTheHtmlOutput += "<div class='deleteFavorite'>";
                           buildTheHtmlOutput += "<form class='deleteFavoriteValue'>";
                           buildTheHtmlOutput += "<input type='hidden' class='deleteFavoriteValueInput' value='" + responseValue._id + "'>";
                           buildTheHtmlOutput += "<button type='submit' class='deleteFavoriteButton'>";
                           buildTheHtmlOutput += "<img src='/images/delete_icon.png' class='delete-favorite-icon'>";
                           buildTheHtmlOutput += "</button>";
                           buildTheHtmlOutput += "</form>";
                           buildTheHtmlOutput += "</div>";
                           buildTheHtmlOutput += '<p>'   + responseValue.name + '</p>';
                           buildTheHtmlOutput += '<p>'   + responseValue.address + '</p>';
                           buildTheHtmlOutput += '<p>'   + responseValue.rating + '</p>';
                           buildTheHtmlOutput += '<p>'   + responseValue.isPlaceOpen + '</p>';
                        buildTheHtmlOutput += '<br />'

                        buildTheHtmlOutput += "</li>";




                     });

                      $(".favoritesContainer").html(buildTheHtmlOutput);
                 },
                fail: function(jqXHR, error, errorThrown){
                    console.log(jqXHR);
                    console.log(error);
                    console.log(errorThrown);
                  }
             });   
       }



       $(document).on('click', '.deleteFavorite', function(event) {
            //if the page refreshes when you submit the form use "preventDefault()" to force JavaScript to handle the form submission
                event.preventDefault();
                //get the value from the input box

                
                
                var favoritesIdToDelete = $(this).parent().find('.deleteFavoriteValueInput').val();

               // console.log("The ID WHICH GETS DELETED IS " , favoritesIdToDelete);


                var nameObject = {
                    'name': favoritesIdToDelete
                };

                $.ajax({
                        method: 'DELETE',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/delete-favorites/' + favoritesIdToDelete,
                    })
                    .done(function(result) {
                        populateFavoritesContainer();
                    })
                    .fail(function(jqXHR, error, errorThrown) {
                        console.log(jqXHR);
                        console.log(error);
                        console.log(errorThrown);
                    });
});



        //STEP 1 - objects and functions definistions
        function ajaxSearchDisplay(searchVal, querykeyword) {
            $.ajax({
                url: '/mywelcomepage',
                cache: false,
                type: "POST",
                data: {
                    query: querykeyword,
                },
                dataType: "json",
                success: function (response) {
                    console.log(response.results);
                    displaySearchData(response.results);
                    console.log("success");
                },
                fail: function (jqXHR, error, errorThrown) {
                    console.log(jqXHR);
                    console.log(error);
                    console.log(errorThrown);
                }
            });
        }


        // To make one change , if the data is undefined , then it should display appropriate error message
        function displaySearchData(dataMatches) {
            var buildTheHtmlOutput = "";

            $.each(dataMatches, function (dataMatchesKey, dataMatchesValue) {
                var placeOpen = "";
                if (dataMatchesValue.opening_hours) {
                    if (dataMatchesValue.opening_hours.open_now && dataMatchesValue.opening_hours.open_now === 'true') {
                        placeOpen = 'OPEN';
                    } else {
                        placeOpen = 'CLOSED';
                    }
                }


                buildTheHtmlOutput += '<div class="displaywishresults">';
                buildTheHtmlOutput += '<h4>' + dataMatchesValue.name + '</h4>';
                buildTheHtmlOutput += '<h6>' + dataMatchesValue.formatted_address + '</h6>';
                buildTheHtmlOutput += '<span>' + dataMatchesValue.rating + '</span>';
                buildTheHtmlOutput += '<br />';
                buildTheHtmlOutput += '<span>' + placeOpen + '</span>';
                buildTheHtmlOutput += "<div class='searchdata-description'>";
                buildTheHtmlOutput += "<form >";
                buildTheHtmlOutput += "<button type='submit' class='addToFavoritesButton'>";
                buildTheHtmlOutput += "<i class='fa fa-star add-favorite-icon' aria-hidden='true'></i>";

                  // buildTheHtmlOutput += "<img src='images/add_favorite.png' class='add-favorite-icon'>";
                buildTheHtmlOutput += "</button>";         
                buildTheHtmlOutput += "<input type='hidden' class='addToFavoritesValue' value='" + dataMatchesValue.name + "'>";
                buildTheHtmlOutput += '<br />'
                buildTheHtmlOutput += "<input type='hidden' class='addToFavoritesAddressValue' value='" + dataMatchesValue.formatted_address + "'>";
                buildTheHtmlOutput += '<br />'
                buildTheHtmlOutput += "<input type='hidden' class='addToFavoritesRatingValue' value='" + dataMatchesValue.rating + "'>";
                buildTheHtmlOutput += '<br />'
                buildTheHtmlOutput += "<input type='hidden' class='addToFavoritesPlaceOpenValue' value='" + placeOpen + "'>";
                buildTheHtmlOutput += "</form>";
                     
                buildTheHtmlOutput += "</div>";
                buildTheHtmlOutput += "</div>";

            });
            $(".displayresults").html(buildTheHtmlOutput);
        }

        $.fn.stars = function () {
            return $(this).each(function () {
                // Get the value
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                val = Math.round(val * 4) / 4;
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }


        //STEP 2 - objects and functions usage
        $(document).ready(function () {

            populateFavoritesContainer();

            $('span.stars').stars();
            console.log("Am able to see this message");


            //T
            $(".form-search").submit(function (event) {
                event.preventDefault();
                var selectOptionVal = '';
               // console.log("Am able to login to form search");
                var searchVal = $('#inputsearch').val();
               // console.log("search Val" + searchVal);
               // console.log("Select option inside console");
                selectOptionVal = $('.selectoptions option:selected').val();
                var querykeyword = selectOptionVal + " in " + searchVal;
               // console.log(querykeyword);
                if (searchVal === "") {
                    $(".displayresults").empty();
                    $(".displayresults").append('<span id="error_add_here">Please enter a location name to search</span>');

                } else {

                    ajaxSearchDisplay(searchVal, querykeyword);

                }
            });

            // populateFavoritesContainer();
        });

        $(document).on('click', '.displaywishresults .addToFavoritesButton', function (event) {
            //if the page refreshes when you submit the form use "preventDefault()" to force JavaScript to handle the form submission
            //console.log("Am I coming in the Add To Favorites ")
            event.preventDefault();

            $(this).toggleClass("highlight");

            var favoritesValue = $(this).parent().find('.addToFavoritesValue').val();
            var favoritesAddressValue = $(this).parent().find('.addToFavoritesAddressValue').val();
            var favoritesRatingValue = $(this).parent().find('.addToFavoritesRatingValue').val();
            var favoritesPlaceOpenValue = $(this).parent().find('.addToFavoritesPlaceOpenValue').val();

            //console.log("Am I coming in the Add To Favorites ", favoritesValue);
            //console.log("Am I coming in the Add To Favorites ", favoritesAddressValue);
           // console.log("Am I coming in the Add To Favorites ", favoritesRatingValue);
           // console.log("Am I coming in the Add To Favorites ", favoritesPlaceOpenValue);

            var userSelectionObject = {
                'name': favoritesValue,
                'address': favoritesAddressValue,
                'rating': favoritesRatingValue,
                'placeOpenVal': favoritesPlaceOpenValue
            }

            $.ajax({
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(userSelectionObject),
            url: '/add-to-favorites/',
            })
            .done(function(result) {
                console.log("POST ADD TO FAVORITES" , result);
                populateFavoritesContainer();
             })
            .fail(function(jqXHR, error, errorThrown) {
               console.log(jqXHR);
               console.log(error);
               console.log(errorThrown);
            });


        });
    </script>

</body>

</html>
